@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e5e7eb;
}

.section, .inner {
    display: block;
    position: relative;
    width: 100%;
}

.inner {
    margin: 0 auto;
    max-width: 1040px;
    z-index: 5;
}

a {
    color: #FF4E52;
    text-decoration: none;
    cursor: pointer;
}

canvas.gif-canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

canvas {
  display:  block;
  width: 100%;
  height: 100%;
}